<h1> Arrays </h1>

An Array is use to store a collection of items like a list. But unlike a list an array can also store a vector for example. To use an Array you should import Numpy.

In [3]:
import numpy as np

In [4]:
liste = np.array([1,2,3,4,5,6,7,8])
arr2 = np.asarray([[1,2,3],[5,6,7],[8,9,11]])
arr3 = np.array ([[1,2,5,1],[3,2,1,6],[7,5,3,7],[1,5,7,5],[1,4,4,6]])

print(liste)
print(arr2)
print(arr3)

[1 2 3 4 5 6 7 8]
[[ 1  2  3]
 [ 5  6  7]
 [ 8  9 11]]
[[1 2 5 1]
 [3 2 1 6]
 [7 5 3 7]
 [1 5 7 5]
 [1 4 4 6]]

In [5]:
print(type(liste)) #type shows you what the class

<class 'numpy.ndarray'>

In [6]:
print(arr2[ 1, 0]) #find data using the index function

5

In [8]:
np.ones([5,6]) #with .ones you can create a vector with only ones

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [ ]:
np.zeros([5,6,7])

In [9]:
np.empty(1) #with empty you can create an empty vector

array([1.])

In [ ]:
np.empty(5)

In [10]:
np.ndim(arr2)

2

In [ ]:
np.ndim([5,6,7])

In [12]:
np.transpose(arr2) #with transpose you can transpose an array

array([[ 1,  5,  8],
       [ 2,  6,  9],
       [ 3,  7, 11]])

In [21]:
np.arange(-30.2, 30.4, 10) #use arange when step size between the values is important

array([-30.2, -20.2, -10.2,  -0.2,   9.8,  19.8,  29.8])

In [20]:
np.linspace(-30.2, 30.4, 10) #use linspace when the exact values when the start and end point are important

array([-30.2       , -23.46666667, -16.73333333, -10.        ,
        -3.26666667,   3.46666667,  10.2       ,  16.93333333,
        23.66666667,  30.4       ])

<h2> export a list/an array into a CSV file </h2>

In [189]:
from numpy import genfromtxt

In [190]:
liste.tofile('eine.liste', sep = ',') #converting a list into a csv file

In [211]:
my_data = genfromtxt('eine.liste', delimiter=",") #import a csv file

In [212]:
print(my_data)

[1. 2. 3. 4. 5. 6. 7. 8.]

In [288]:
np.savetxt('ein.array.csv', arr2, fmt="%d", delimiter=",") #1. the name of the file
                                                            #2. the name of the array
                                                            #3. fmt = format of the data
                                                            #4. delimiter = define the space between data(only necessary if you don't open it as an array)

In [289]:

arrayfile = genfromtxt('ein.array.csv', delimiter=",")

In [290]:
print(arrayfile)

[[ 1.  2.  3.]
 [ 5.  6.  7.]
 [ 8.  9. 11.]]

In [291]:
type(my_data)

numpy.ndarray

Open a csv file with pandas

In [3]:
import pandas as pd 

anderefile = pd.read_csv('ein.array.csv') #use pd.read to get a data frame

In [2]:
print(anderefile)

   1  2   3
0  5  6   7
1  8  9  11

In [301]:
type(anderefile)

pandas.core.frame.DataFrame