<h1>Conditions</h1>
Conditions are operators or statements that execute differently depending on the input data.

">" is used to check if the left variable is bigger than the right variable. It returns as true or false. For example:

In [27]:
x = 5 
y = 6 

print (x>y)

False

"<" is the same as before but the other way around. It asks if the left variable is smaller than the right.

In [28]:
print (x<y)

True

"<=" asks if the left variable is smaller than or equal to the right.

In [29]:
x = 5
print (x<=y)

True

">=" asks if the left variable is bigger or equal to the right.

In [30]:
print (x>=y)

False

"==" asks if both variables are equal.

In [31]:
print (x==y)

False

"!=" asks if both variables are not equal. (will return as true if not equal)

In [32]:
print (x!=y)

True

"is" asks if the two variables refer to the same object. It will return false if both variables have the same value but are not identical.

In [33]:
a = [4,5,6]
b = [1,2,3]
a = b #b is now the same as a 
c = [4,5,6]

print (a is b) 
print (a is c)

True
False

"is not" asks the same question as "is" but logically reversed. It will return true if the variables are not identical.

In [34]:
a = [4,5,6] 
a = b 
c = [4,5,6] 

print (a is not b) 
print (a is not c)

False
True

"or" returns true if one of the variables is true.

In [35]:
d = False
e = True

print (d or e)

True

"and" only returns true if both variables are also true.

In [36]:
print (d and e)

False

"not" reverses a boolean expression.

In [37]:
print (not d)

True

<h3>if, elif and else statements</h3>
The if statement returns as true if specified criteria is met.

In this case either the boolean d or e need to be 'True' in order for the if statement to execute. Otherwise nothing happens. <br>The structure of the if statement is: "if" assignment_expression ":" suite

In [38]:
e = True

if (e):
    print ("the if statement has executed")

the if statement has executed

"elif" (short for else if) executes a block of code if a certain condition is not met. In this case the f variable is smaller than 3 but bigger than 0 so the elif statement is executed.

In [39]:
f = 2

if (f>=3): 
    print ("the if statement has executed") 
elif (f<3 and f>0): 
    print ("the elif statement has executed")
else:
    print ("the else statement has executed")

the elif statement has executed

"else" executes a block of code if none of the conditions are met.

In [40]:
f = 0

if (f>=3): 
    print ("the if statement has executed") 
elif (f<3 and f>0): 
    print ("the elif statement has executed")
else:
    print ("the else statement has executed")

the else statement has executed

"pass": if the block of code for a condition is "pass", then nothing happens.

In [41]:
if not (d and e):
    pass 
else:
    print ("the else statement has executed")

<h4>Nested if statements</h4> Nested statements are two or more control structures (for example if, else, elif) inside one another. In this example the program checks if a number is an odd number and between 20 and 30. First the program checks if the number is between 20 and 30. If that is not the case it checks if the number is below 20. Afterwards it checks if the number is odd or even; using the modulo operator.

In [42]:
a = 31

if (a >= 20 and a<30): 
    if (a % 2 == 1):
            print ("odd number between 20 and 30")
    else:
            print ("even number between 20 and 30")
elif(a<20): 
    if (a % 2 == 1):
            print ("odd number lower than 20") 
    else:
            print ("even number lower than 20")
else:
    if (a % 2 == 1):
        print ("odd number higher than or equal to 30")
    else:
        print ("even number higher than or equal to 30")

odd number higher than or equal to 30

<h3>Iteration (Loops)</h3>
Loops are sets of statements. These statements are repeated until a certain condition has been met.

<h4>While Loop</h4>
The while statement executes repeatedly as long as the assignment expression (within the brackets) is true. The following program for example will add 1 to the variable in every iteration while checking everytime if the criteria has been met. It will stop as soon as that is the case. The calculation that is done here could be formulated as '1+1+1+1'.

In [43]:
a = 1

while (a<4):
    a+=1
print (a)

4

The <b>break</b> statement can be used to break out of the loop if a condition is met. In this case it is used to break out of the loop one iteration earlier.

In [44]:
a = 1

while (a<4):
    if a==3:
        break
    a+=1
print (a)

3

The <b>else</b> statement can also be used in a while loop. It is executed after the assignment becomes false. This is very similar to just putting the suite after the while loop.

In [45]:
a = 1

while (a<4):
    a+=1
else: print (a)

4

<h4>For Loop</h4>
The for statement is used on iterable objects (for example lists or tuples). 
The structure is: <b>"for" target_list "in" starred_list ":" suite</b> <br>
After entering 'for' to signal the loop the target list needs to be defined; in this case it is called 'n'. The target list is created by the for loop. After the keyword 'in' the starred list is declared. This is the list on which the loop is performed. <br>
The <b>else</b> statement can also be used here, in this case it is executed after the loop reaches its final destination.

In [46]:
numbers = [1, 2, 3, 4] 
for n in numbers:
    print (n)
else: print('finished') # the else statement does not need to be included for the loop to work

1
2
3
4
finished

The <b>break</b> statement can also be used in for loops.

In [47]:
numbers = [1, 2, 3, 4] 
for n in numbers:
    if (n % 2 == 0): # if the number is even
        break
    print (n)

1

If you want to skip an element of the list without ending the loop (like a break would), you can use the <b>continue</b> statement.

In [48]:
numbers = [1, 2, 3, 4] 
for n in numbers:
    if (n % 2 == 0): # if the number is even
        continue
    print (n)

1
3

The <b>elif</b> statement can also be used in this context. In this case we are using the built-in 'isinstance' function to check whether the element is an integer or a floating point value. If it is neither of those the for loop will break out early skipping over the string and the last number.

In [49]:
numbers = [1, 2, 3, 4, 5.5, 'a', 6] 
for n in numbers:
    if isinstance(n, int): # checks for integer
        print (n)
        continue
    elif isinstance(n, float): # checks for floating point
        print (n)
        continue
    print ('non-number detected')
    break

1
2
3
4
5.5
non-number detected

Letting the loop make a copy of the list (or in the following case the tuple) it is iterating over can be practical in many cases. Tuples can not be changed after creation (they are immutable); this is a way to work around that.

In [50]:
numbers = (1, 2, 3, 4) 
evennums = () # this tuple will contain the even numbers

for n in numbers: # as before 'n' is just a stand-in; any unclaimed variable can be used here
    if n%2==0: # as seen before; checks if the number is even
        evennums +=(n,) # add the number to the new tuple 
print (evennums)

(2, 4)

To create a for loop that iterates over a sequence of numbers the <b>'range()'</b> function can be used.

In [51]:
for i in range(4): 
    print(i)

0
1
2
3

Another use for the <b>'range()'</b> function could be to execute the suite (block of code that follows the expression) a chosen number of times. The number within the brackets declares the amount of the iterations. The variable 'g' is what the loop is iterating on. The variable 'i' goes up by 1 with every iteration.

In [52]:
g = 2
for i in range(4): # this will execute 4 times
    g+=2
    print (g)
print (f'{i+1} iterations') # the number i starts at zero

4
6
8
10
4 iterations

Combined with the <b>'len()'</b> function it is also possible to iterate over the parts of a sequence. This function returns the length of an iterable object. Now we can use the length of the object as the value for the range function. In this case we are using the <b>list</b> data structure. Tuples and dictionaries are also sequences.

In [53]:
sequence = ['a', 'b', 'c']
print (len(sequence), '\n') 

for i in range(len(sequence)):
    print (sequence[i]) # prints the part of the sequence corresponding to the 'i' value

3

a
b
c

The <b>else</b> statement becomes relevant when looking at <b>nested for loops</b>. This code is looking for prime numbers between 3 and 10.

In [54]:
for n in range(3,11):
    for x in range(3,n):
        if n % x == 0:
            print (n, 'is not a prime number')
            break
    else: 
        print(n, 'is a prime number')

3 is a prime number
4 is a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number
10 is not a prime number