<h3>Basic Arithmetic Calculations</h3>

The symbols '+', '*', '/' and '-' can be used to perform basic arithmetic calculations. They are (in order) used for addition, multiplication, division and subtraction. Division always returns a floating point number. The other three always return integer values.

In [7]:
print (2+2)
print (2*2)
print (2/2) 
print (2-2)

4
4
1.0
0

Parentheses '()' can be used to group calculations and thus change the order in which the calculations are performed.

In [8]:
print (2+2/2)
print ((2+2)/2)

3.0
2.0

To do floor division which will get an integer result with a remainder you can use '//' for the division and '%' to calculate the remainder.

In [9]:
print (5/2) # this will return a floating point number
print (5//2) # this will return the same without the decimals and as an integer
print (5%2) # this will return the remainder of the calculation above

2.5
2
1

To calculate powers the '**' operator is used.

In [11]:
print (3**2)

9

The '=' sign is used to assign a value to a variable.

In [3]:
factor1 = 2
factor2 = 3
result = factor1 * factor2 
print (result)

6

">" is used to check if the left variable is bigger than the right variable. It returns as true or false. For example:

In [ ]:
x = 5 
y = 6 

print (x>y)

"<" is the same as before but the other way around. It asks if the left variable is smaller than the right.

In [ ]:
print (x<y)

"<=" asks if the left variable is smaller than or equal to the right.

In [ ]:
x = 5
print (x<=y)

">=" asks if the left variable is bigger or equal to the right.

In [ ]:
print (x>=y)

"==" asks if both variables are equal.

In [ ]:
print (x==y)

"!=" asks if both variables are not equal. (will return as true if not equal)

In [ ]:
print (x!=y)

"is" asks if the two variables refer to the same object. It will return false if both variables have the same value but are not identical.

In [ ]:
a = [4,5,6]
b = [1,2,3]
a = b #b is now the same as a 
c = [4,5,6]

print (a is b) 
print (a is c)

"is not" asks the same question as "is" but logically reversed. It will return true if the variables are not identical.

In [ ]:
a = [4,5,6] 
a = b 
c = [4,5,6] 

print (a is not b) 
print (a is not c)

"or" returns true if one of the variables is true.

In [ ]:
d = False
e = True

print (d or e)

"and" only returns true if both variables are also true.

In [ ]:
print (d and e)

"not" reverses a boolean expression.

In [ ]:
print (not d)

"if" executes a block of code if a certain condition is met.

In [ ]:
if (d or e):
    print ("the if statement has executed")

"elif" (short for else if) executes a block of code if a certain condition is not met.

In [ ]:
if (d and e): 
    print ("the if statement has executed") 
elif (d or e): 
    print ("the elif statement has executed")
else:
    print ("the else statement has executed")

"else" executes a block of code if none of the conditions are met.

In [ ]:
d = False 
e = False 

if (d and e): 
    print ("the if statement has executed") 
elif (d or e): 
    print ("the elif statement has executed")
else:
    print ("the else statement has executed")

"pass": if the block of code for a condition is "pass", then nothing happens.

In [ ]:
if not (d and e):
    pass 
else:
    print ("the else statement has executed")

nested statements: a nested statements are two or more control structures (if, else, elif) inside one another. In this example the program checks if a number is between 20 and 30.

In [ ]:
a = 19

if (a >= 20):
    if (a < 30):
        print ("the number is between 20 and 30")
    else: 
        print ("the number is higher than or equal to 30") 
else: 
    print ("the number is lower than 20")

Additional help for Matplotlib can be found <a href="https://matplotlib.org/stable/users/explain/quick_start.html">here</a>

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

Square root:
In numpy the square root is calculated with "np.sqrt" <br> 
The Comments show what each line is responsible for in the finished plot.

In [ ]:
#Generating x values
x = np.linspace(0, 10, 100)  #inside the brackets is the range of the x values. The first one is the starting point, the second one is the end. 
#and the third one is the number of equally spaced samples in between the start and endpoint.

#Calculating square root for x
y = np.sqrt(x)

plt.plot(x, y, label='y = sqrt(x)') #name of the plot
plt.xlabel('x') #label for the x axis
plt.ylabel('y') #label for the y axis
plt.title('Square Root Function') #title of the function
plt.legend() #plt.legend is responsible for the little window in the corner labeling the elements of the plot 
plt.grid(True) #toggle grid 
plt.show() #this function opens a seperate window to display the plot

The exponential function is calculated with "np.exp"

In [ ]:
#range of x values
x = np.linspace(-2, 2, 100)  #generates 100 equally spaced points between -2 and 2

#exponential function (y = e^x)
y = np.exp(x)

#plot the exponential function
plt.plot(x, y, label='y = e^x')
plt.xlabel('x')
plt.ylabel('y')
plt.title('Exponential Function')
plt.legend()
plt.grid(True)
plt.show()

The natural logarithmic function can be plottet using "np.log"

In [ ]:
x = np.linspace(0.01, 2, 100)  

y = np.log(x)

plt.plot(x, y, label='y = ln(x)')
plt.xlabel('x')
plt.ylabel('y')
plt.title('Natural Logarithm Function: y = ln(x)')
plt.legend()
plt.grid(True)
plt.show()

The natural sine function can be plottet using "np.sin"

In [ ]:
x = np.linspace(0, 2*np.pi, 100)
y = np.sin(x)

plt.plot(x, y)
plt.title('Sine Function')
plt.xlabel('x')
plt.ylabel('sin(x)')
plt.grid(True)
plt.show()

to plot the cosine function "np.cos" is used

In [ ]:
x = np.linspace(0, 2*np.pi, 100)
y = np.cos(x)

plt.plot(x, y)
plt.title('Cosine Function')
plt.xlabel('x')
plt.ylabel('cos(x)')
plt.grid(True)
plt.show()

to plot the tangent function "np.tan" is used

In [ ]:
x = np.linspace(-np.pi/2+0.01, np.pi/2 - 0.01, 100) #the function becomes infinite at -pi/2 and pi/2, these points are excluded here
y = np.tan(x)

# Plot the tangent function
plt.plot(x, y)
plt.title('Tangent Function')
plt.xlabel('x')
plt.ylabel('tan(x)')
plt.grid(True)
plt.show()

"np.cot" does not exist so we just use "1/np.tan" since cot is the inverse of tan

In [ ]:
x = np.linspace(0.01, np.pi-0.01, 100) #if you use np.pi without subtracting 0.01 or another small number the plot gets weird, I could not figure out why 
y = 1/np.tan(x)

# Plot the cotangent function
plt.plot(x, y)
plt.title('Cotangent Function')
plt.xlabel('x')
plt.ylabel('cot(x)')
plt.grid(True)
plt.show()

to plot acos we'll use "np.arccos"

In [ ]:
x = np.linspace(-1, 1, 100)
y = np.arccos(x)

plt.plot(x, y)
plt.title('arccos')
plt.xlabel('x')
plt.ylabel('arccos(x)')
plt.grid(True)
plt.show()

asin

In [ ]:
x = np.linspace(-1, 1, 100)
y = np.arcsin(x)

plt.plot(x, y)
plt.title('arcsine')
plt.xlabel('x')
plt.ylabel('arcsin(x)')
plt.grid(True)
plt.show()

atan

In [ ]:
x = np.linspace(-5, 5, 100)
y = np.arctan(x)

plt.plot(x, y)
plt.title('arctangent')
plt.xlabel('x')
plt.ylabel('arctan(x)')
plt.grid(True)
plt.show()

sinc is just sin(x)/x so we'll plot that

In [ ]:
x = np.linspace(-10, 10, 1000)
y = np.sin(x)/x


plt.plot(x, y)
plt.title('sinc')
plt.xlabel('x')
plt.ylabel('sinc(x)')
plt.grid(True)
plt.show()

the hyperbolic sine function sinh is plotted by using "np.sinh"

In [ ]:
x = np.linspace(-5, 5, 100)
y = np.sinh(x)

plt.plot(x, y)
plt.title('sinh')
plt.xlabel('x')
plt.ylabel('sinh(x)')
plt.grid(True)
plt.show()

tanh

In [ ]:
x = np.linspace(-5, 5, 100)
y = np.tanh(x)

plt.plot(x, y)
plt.title('tanh')
plt.xlabel('x')
plt.ylabel('tanh(x)')
plt.grid(True)
plt.show()

<h2>Strings</h2>
Strings are used to represent text data in Python. They are immutable, meaning they cannot be changed once created.

In [13]:
example_string_a = 'Hello, World!'
print(example_string_a)

Hello, World!

<h3>Declaring</h3>
Strings can be declared with <u>single</u>, <u>double</u> or <u>triple</u> quotes. Single and Double Quotes are interchangeble. <br>
If you want to put something in Quotation marks you have to use the other type of Quotes. Meaning if you want to put something in single Quotes as seen below the string needs to be declared in double quotes and vice versa.

In [ ]:
example_string_b = "Hello, 'World'!"
print (example_string_b)

<u>Triple Quoted</u> strings, like triple quoted comments, can span multiple lines.

In [16]:
example_string_c = '''Hello, 
World'''
print (example_string_c)

Hello,
World

<h3>String Operations and Formatting</h3>
In the following I will show examples for operations and formatting options that can be used on strings.

<h4>Escape Sequences</u></h4> are commands that change something about the string. For example start a new line or input a backslash or a single quote.

In [15]:
#Newline
print("Hello\nWorld")

#Tab
print("Name:\tMatthis")

#Backslash
print("C:\\Users\\Matthis")

#Single Quote
print('It\'s a beautiful day')

#Double Quote
print("She said, \"Hello!\"")

#Unicode character
print("\u03B1")  #Prints the Greek letter alpha

Hello
World
Name:	Matthis
C:\Users\Matthis
It's a beautiful day
She said, "Hello!"
α

<h4>Raw Strings</h4>
If you want to use a lot of backslashes like in a file path you might want to use a raw string. That can be done by using "r'"

In [ ]:
raw_string = r'C:\Users\Matthis\Desktop\PythonVortrag' 
print (raw_string)

<h4>Formatted String Literals</h4> 
The operator "f'" in front of a string means you can add so-called replacement fields. These fields are curly brackets {} which can contain variables.

In [2]:
activity = 'walking'
speed = 6
message = f'you are {activity} at {speed}km/h!'
print(message)
activity = 'running'
speed = 7
message = f'you are {activity} at {speed}km/h!'
print(message)

you are walking at 6km/h!
you are running at 7km/h!

<h4>Capitalize and Lowercase</h4>

In [11]:
example_string_b = 'hello, World!'
print(example_string_b)

print (example_string_b.capitalize())
#Returns a copy of the string with its first character capitalized and the rest lowercased

print (example_string_b.lower())
#Returns a copy of the string with all characters lowercased

hello, World!
Hello, world!
hello, world!

<h4>Check Contents</h4>
Here are a few operations that check if a string consists of certain Elements.

In [1]:
example_string_a = 'Hello, World!'

print (example_string_a.isalnum())
#are all characters in the string alphabetical or numeric? (excludes characters like #)

print (example_string_a.isalpha())
#are all characters in the string alphabetical?

print (example_string_a.isnumeric())
#are all characters in the string numeric?

print (example_string_a.islower())
#are all characters in the string lowercase?

print (example_string_a.isupper())
#are all characters in the string uppercase?

False
False
False
False
False

<h4>Partition a string</h4>
 str.partition(sep) can be used to split the string at the chosen separator (sep). The Operation will return a 3-Tuple containing the part before the separator, the separator itself and the part after the separator.

In [5]:
example_string_a = 'Hello, World!'
print (example_string_a.partition('W'))

('Hello, ', 'W', 'orld!')

<h4>Construct a string from multiple fragments</h4>
Strings can be joined together using 'str.join' which has the structure: 'separator.join(iterable)'. <br>
The separator is going to be put between the elements of the string and the iterable is the string the operation is used on.
Any character or number can be used as separator. Escape sequences can also be used.

In [26]:
example_string_d = 'abcde'
print (example_string_d)

example_string_d = ' '.join(example_string_d)
print (example_string_d)

example_string_d = '\n'.join(example_string_d)
print (example_string_d)

abcde
a b c d e
a

b

c

d

e

If you just want to add strings together you can use the '+' and '*' operators.

In [8]:
print (example_string_a+example_string_a)
print (3 * example_string_a)

Hello, World!Hello, World!
Hello, World!Hello, World!Hello, World!

Two or more string literals (the ones in quotes) put next to each other are joined automatically.

In [16]:
text = ('Hello,' ' World!')
print (text)

Hello, World!

This does not work with variables. You can use '+' to join two variables or a variable and a literal.

In [18]:
print (text + '2')

Hello, World!2

<h4>Retrieve character</h4>
You can retrieve a character at a point of your choosing (index) using "string[index]". The count starts at '0'. <br>If you use positive numbers the characters are counted from the left. If you use negative numbers the characters are counted from the right. <br>
You can retrieve all characters within a certain range using "string[a:b]"
    In this case the first number 'a' represents the starting point and the second number 'b' represents the length of the range.

In [20]:
message2 = 'you are walking'
print(message2)

# retrieve the fourth character of the string
print(message2[4])

# retrieve the fourth character from the left 
print(message2[-4])

# retrieve the word 'you' 
# starting at the start of the string '0' retrieve '3' characters
print(message2[0:3])

you are walking
a
k
you

<h4>Slicing</h4>
Strings can be sliced into substrings.

<h4>Count specific elements</h4>
To count the number of (non-overlapping) substrings within a string use: 'str.count(sub[, start[, end]])' <br>
First Define the substring and then define where to start counting and where to end. It is not necessary to declare 'start' or 'and' for the operation to work.

In [45]:
example_string_a = 'Hello, World!'

# since the string contains the letter o twice the operation will return 2
print (example_string_a.count('o'))

# if the start is index 7 the first 'o' is not counted
print (example_string_a.count('o', 7))

# if the start is 0 and the end is 7 the second 'o' is not counted
print (example_string_a.count('o', 0, 7))

2
1
1

<h4>Membership test</h4>
To check if a substring is in a string use the operator 'in'. Returns as boolean.

In [48]:
example_string_a = 'Hello, World!' 

print ('o' in example_string_a)
print ('a' in example_string_a)

True
False

<h4>Replace substrings</h4>
str.replace(old, new[, count]) Replaces the old substring with the new substring a certain amount of times (count). If count is left out, every substring will be replaced.

In [23]:
a = 'Hello, World!'
print (a.replace('l', 'x', 0))
print (a.replace('l', 'x', 1))
print (a.replace('l', 'x', 2))
print (a.replace('l', 'x'))

Hello, World!
Hexlo, World!
Hexxo, World!
Hexxo, Worxd!

<h4>Remove prefix/suffix</h4>
With removeprefix and removesuffix a substring can be removed from the start or end of the string, but only then. If the chosen substring is not where it needs to be the Operation returns the string

In [17]:
a = 'Hello, World!'
print (a.removeprefix('Hello'))
print (a.removeprefix('World!'))

print (a.removesuffix('Hello'))
print (a.removesuffix('World!'))

, World!
Hello, World!
Hello, World!
Hello,

<h4>str.strip([chars])</h4>
Strips a string from its outermost elements specified in [chars]. All elements contained in [chars] are removed from he string until an element is found which is not contained in chars.

In [54]:
example_string_a = 'Hello, World!'
print (example_string_a)

# as you can see here just one of the o's is removed because r is not part of chars
example_string_a.strip('H!edlo')

Hello, World!

', Wor'